# Ignore python virtual environments
venv/
.venv/
env/
ENV/

# Ignore cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local configs / secrets (they are in Secret Manager)
.env
temp_audio/
app_old.py
*.mp3
mock_db.json
